/* menu styles */

#header {
    overflow: visible;
	z-index: 9999;
}

#header #branding h1 {
    margin: 0;
    padding: 5px 10px;
    height: 31px;
}

#header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

#header ul li {
    position: relative;
    list-style: none;
}

#header ul li a {
    white-space: nowrap;
	z-index: 9999;
}

#header #navigation-menu {
    height: 35px;
    z-index: 9999;
    background: transparent url(../img/sisbase/bg_menu.jpg) repeat-x 0 0px;
}

#header ul#navigation-menu li {
    float: left;
	z-index: 9999;
}

#header ul#navigation-menu li a {
    display: block;
    text-transform: none;
    text-decoration: none;
    padding: 8px 15px;
    border-right: 1px solid black;
    color: #696969 !important;
	z-index: 9999;
}

#header ul#navigation-menu li.disabled a {
    color: #bbb;
    cursor: default;
	z-index: 9999;
}

#header ul#navigation-menu li.first a {
    margin: 0px 0 0 8px;
    padding-top: 8px;
    text-indent: 14px;
    background: transparent url(../img/sisbase/admin-tools.png) no-repeat 0 -383px; /* O ícone da casa no início */
	z-index: 9999;
}

#header ul#navigation-menu li span {
    float: right;
    height: 10px;
    width: 20px;
    background: transparent url(../img/sisbase/admin-tools.png) no-repeat 0 -360px;   /* <---- A seta que indica se tem sub-itens */        
}

#header ul#navigation-menu li:hover,
#header ul#navigation-menu li.over,
#header ul#navigation-menu li.selected {
    background: url(../img/sisbase/bg_menu_over.jpg) repeat-x;
    color: #fff !important;
}

#header ul#navigation-menu li ul {
    display: none;
    position: absolute;
    top: auto;
    left: auto;
    margin-left: -1px;
    margin-top: -1px;
}

#header ul#navigation-menu li ul li {
    padding: 0;
    float: none;
    z-index: 9999;
}

#header ul#navigation-menu li ul li a {
    display: block;
    border: px solid black;
    border-width: 0 0px 0px 0px;
    text-transform: none;
    min-width: 180px;
    background: #c1c1c1;
}

#header ul#navigation-menu li ul li a:HOVER {
	background: transparent;
	color: #fff !important;
}


#header ul#navigation-menu li ul li span {
    background-position: 0 -370px;
}

/* A linha top da janela de qualquer sub-menu (nível 2 em diante) */
#header ul#navigation-menu li ul li ul {
    left: 100%;
    top: 0;
    border-top: 1px solid black;
}

#header ul#navigation-menu li ul li ul li a {
    white-space: nowrap;
}

#header ul#navigation-menu li:hover ul li ul,
#header ul#navigation-menu li.over ul li ul {
    display: none;
}

#header ul#navigation-menu li:hover ul,
#header ul#navigation-menu li.over ul,
#header ul#navigation-menu li ul li:hover ul,
#header ul#navigation-menu li ul li.over ul {
    display: block;
}

#header ul#navigation-menu li:hover ul li,
#header ul#navigation-menu li.over ul li,
#header ul#navigation-menu li ul li:hover ul li,
#header ul#navigation-menu li ul li.over ul li {
    background: transparent url(../img/sisbase/admin-tools.png) repeat-x 0 -285px;
}

#header ul#navigation-menu li ul li:hover,
#header ul#navigation-menu li ul li.over,
#header ul#navigation-menu li ul li ul li:hover,
#header ul#navigation-menu li ul li ul li.over {
    background: transparent url(../img/sisbase/bg_menu_selected.jpg) repeat-x;
}

#header ul#navigation-menu li.disabled:hover,
#header ul#navigation-menu li.disabled .over {
    background: none;
}